<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background-color:gray">
      Local Storage
    </div>
    <div class="col-sm-3">
      Notes (<a (click)="addNote()">+</a>)
      <ul *ngFor="let note of localNotes">
        <li>{{note.title}}</li>
      </ul>
    </div>
    <div class="col-sm-7">

      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="exampleTextarea">New Note</label>
          <textarea class="form-control" id="content" rows="3" required [(ngModel)]="newNote.content" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>